<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>{{title}}</h1>
				<todo v-on:create-todo="addTodo"></todo>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<todo-list v-bind:todos="filteredTodos"></todo-list>				
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{filteredTodos.length}}</strong> {{filteredTodos.length | itemFilter }} left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a  v-bind:class="{'selected': currentFilter == 'all'}"  v-on:click.stop="currentFilter = 'all'" href="#/">All</a>
					</li>
					<li>
						<a  v-bind:class="{'selected': currentFilter == 'active'}" v-on:click.stop="currentFilter = 'active'"  href="#/active">Active</a>
					</li>
					<li>
						<a v-bind:class="{'selected': currentFilter == 'completed'}" v-on:click.stop="currentFilter = 'completed'" href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="node_modules/axios/dist/axios.min.js"></script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
